@model CarService.Models.Master

@{
    ViewData["Title"] = "Деталі майстра";
}

<h1>Деталі майстра</h1>

<div>
    <h4>Інформація про майстра</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Логін</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.UserName)</dd>
        
        <dt class="col-sm-2">Імʼя</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>

        <dt class="col-sm-2">Прізвище</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Surname)</dd>

        <dt class="col-sm-2">Спеціальність</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Specialization)</dd>

        <dt class="col-sm-2">Номер телефона</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.PhoneNumber)</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">
        <i class="bi bi-pencil-square"></i> Редагувати
    </a> |
    <a asp-action="Index" class="btn btn-secondary">
        <i class="bi bi-arrow-left"></i> Назад
    </a>
</div>