@model IEnumerable<CarService.Models.Master>

@{
    ViewData["Title"] = "Список майстрів";
}

<h1>Майстри</h1>

<p>
    <a asp-action="Create" class="btn btn-success">
        <i class="bi bi-plus-circle"></i> Створити Нового
    </a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>Логін</th>
        <th>Ім'я</th>
        <th>Прізвище</th>
        <th>Спеціальність</th>
        <th>Електронна пошта</th>
        <th>Номер телефону</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.UserName)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Surname)</td>
            <td>@Html.DisplayFor(modelItem => item.Specialization)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">
                    <i class="bi bi-pencil-square"></i>
                </a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">
                    <i class="bi bi-info-circle"></i>
                </a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                    <i class="bi bi-trash"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>